*.*~
#*#
._*
*.elc
backups/**
conf/.twitter.el
share/frm.tags
ac-comphist.dat
.DS_Store
.emacs.d/url/cookies
el-get/.loaddefs.el    
el-get/.loaddefs.elc   
el-get/.loaddefs.el~   
el-get/.status.el      
el-get/.status.el.old  
