*.*~
#*#
._*
*.elc
backups/**
conf/100_twitter.el
share/frm.tags
ac-comphist.dat
.DS_Store
.emacs.d/url/cookies
el-get/.loaddefs.el
el-get/.status.el
el-get/.status.el.old
el-get/el-get/**
el-get/packages/**
elpa/**
